body{
  font-family: "Montserrat";
  color: black;
  text-align: center;
}
h2{
  margin-top: -50px;
  font-family: "Montserrat";
  font-size: 50px;
  text-align: center;
  margin-left: auto;
}

ul{
  list-style: none;
  text-align: right;
  margin-top: 50px;
  margin-right: 170px;
}

#pp img {
  /* float: left; */
  margin-left: -700px;
  position: relative;
  top: -120px;
  width: 8%;
  /*
  padding-left: 100px; */
}

li {
  width: 75px;
  height: 75px;
  margin-top: 50px;
  margin-left: 10px;
  display: inline-block;
}
h3{
  text-align: center;
}
section {
  text-align: center;
}
#block1 {
    overflow:auto;
    box-sizing:border-box;
    display: inline-grid;
    width: 30%;
    height: 200px;
    border: 5px solid pink;
    padding: 25px;
    margin: 10px;
    font-size: 1rem;
}

#block2{
  overflow: auto;
  box-sizing: border-box;
  display: inline-grid;
  width: 30%;
  height:200px;
  border: 5px solid blue;
  padding: 25px;
  margin: 10px;
  font-size: 1rem;

}
#heading{

}
#heading img{
  width: 32%;
  height:10px;
  display: inline-block;
}
#pic h2{
  float:left;
}

#row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#pic img{
  padding: 1%;
  width: 20%;
  height:170px;
  float:center;
  flex: 25%;

}
#pic img:hover{
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
  #pic img {
    flex: 50%;
    max-width: 50%;
  }
}

#caption{
  position: absolute;
  text-align: center;
  margin-left: 350px;
}

#caption2{
  position: absolute;
  text-align: center;
  margin-left: 690px;
}

#caption3{
  position: absolute;
  text-align: center;
  margin-left: 1020px;
}

.footer {
  color: coral;
  padding: 100px;
}
.footer a {
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}
